
.pageBody{
    display: flex;
    justify-content: center;
    background: #FFF0F5;
    height: 600px;
   
}
.container{
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;

}
@media only screen and (max-width: 600px) {
    .container {
      width: 500px;
    }
  }
.box{
    position: relative;
    max-width: 400px;
    height: 202px;
    background-color: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(245, 39, 145, 0.43);
    transition: 0.3px ease-in-out;

}
.box:hover{
    height: 420px;
    transition: 0.5s;
}
.imgBox{
    position: relative;
    width: 360px;
    height: 360px;
    top: -60px;
    left: 3px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(245, 39, 145, 0.13);

}
.img{
    max-width: 100%;
    border-radius: 4px;
}
.content{
    position: relative;
    margin-top: -140px;
    padding: 18px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.box:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}